<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com" ></script>
    <title>{{ title|default('WebSpeedReport') }}</title>
</head>
<header>
    <h1 class="text-6xl text-center">Web Speed Report</h1>
</header>